<section *ngIf="dataSource" class="tree fadeIn">
  <div class="tree__select-all">
    <mat-checkbox (change)="checkAll($event.checked)"
      ><span class="title">Select All</span></mat-checkbox
    >
    <mat-checkbox class="spand" (change)="spandAll($event.checked)"
      ><span>Spand All</span></mat-checkbox
    >
    <!-- TODO: translate -->
  </div>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <div class="task">
        <mat-checkbox [checked]="node.selected" (change)="onNodeChange(node)">
          {{ node.name }}</mat-checkbox
        >
      </div>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
    >
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
      >
        <mat-icon>
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>

      <div>{{ node.name }}</div>
    </mat-tree-node>
  </mat-tree>
</section>
